h1{
    font-size: 1.3em;
    color: rgb(27, 107, 199);
}

p{
    font-size: .9em;
    color: gray;
}

span {
    color: rgb(8, 167, 8);
    font-size: .9em;
    font-weight: bold;
}

#keyboardInfo{
    font-size: .9em;
}